@font-face {
    font-family: Gilroy-Medium;
    src: url(fonts/Gilroy-Medium.woff2);
}

@font-face {
    font-family: Gilroy-SemiBold;
    src: url(fonts/Gilroy-Semibold.woff2);
}

@font-face {
    font-family: Gilroy-Bold;
    src: url(fonts/Gilroy-Bold.woff2);
}

@font-face {
    font-family: Gilroy-Regular;
    src: url(fonts/Gilroy-Regular.woff2);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gilroy-Bold', sans-serif;
}

.center {
    padding-left: calc(50% - 566px);
    padding-right: calc(50% - 566px);
}

a {
    text-decoration: none;
}

.top {
    padding-bottom: 96px;
}

.header {
    padding-top: 40px;
    padding-bottom: 84px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


.top__navigation {
    padding-top: 51px;
    padding-bottom: 96px;
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}



.top__link {
    color: #000;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    display: flex;
    gap: 5px;
}

.top__content {
    display: flex;
    gap: 39px;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: row-reverse;
}

.top__info {
    width: 522px;
    margin-bottom: 162px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.title {
    width: 522px;
    margin-bottom: 17px;
    font-family: Gilroy-Bold;
    font-size: 60px;
    line-height: 70px;
    text-align: left;
}

.text {
    color: #888888;
    width: 466px;
    margin-bottom: 37px;
    font-family: Gilroy-Medium;
    font-size: 20px;
    line-height: 23px;
    text-align: left;
}

.top__buttons {
    margin-bottom: 162px;
}

.button_1 {
    background-color: #F25822;
    color: #FFFFFF;
    font-family: Gilroy-Bold;
    padding: 15px 35px;
    border-radius: 50px;
    border: none;
    box-shadow: 4px 4px 8px 0px #F2582233;
    outline: none;
    margin-right: 72px;
}

.button_2 {
    color: #aaa;
    background-color: white;
    outline: none;
    border: none;
    font-family: Gilroy-Bold;
    font-size: 15px;
    line-height: 18px;
    text-align: left;

}

.top__logos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 48px;
}






.content {
    display: flex;
    gap: 60px;
    padding-top: 100px;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(3, 340px);
    justify-content: center;
}

.section {
    display: grid;
    justify-items: left;
    box-shadow: 15px 25px 56px 6px #0000000F;
    padding: 40px 30px 25px;
}

.img__section {
    margin-bottom: 25px;
}

.title__section {
    font-family: Gilroy-Bold;
    font-size: 24px;
    line-height: 28px;
    text-align: left;
    margin-bottom: 17px;
}

.text__section {
    font-family: Gilroy-Regular;
    font-size: 15px;
    line-height: 23px;
    text-align: left;
    margin-bottom: 17px;
}

.link__content {
    font-family: Gilroy-Bold;
    font-size: 11px;
    line-height: 17px;
    text-align: left;
}

.aside {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #FAFAFA;
    padding-top: 92px;
    padding-bottom: 122px;
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.title__aside {
    margin-bottom: 19px;
    font-family: Gilroy-Bold;
    font-size: 45px;
    line-height: 53px;
    text-align: center;
}

.text__aside {
    color: #666666;
    margin-bottom: 55px;
    font-family: Gilroy-Regular;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    width: 682px;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.item {
    padding-bottom: 50px;
    background: #FFFFFF;
    box-shadow: 15px 25px 60px -5px #0000001A;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title__item {
    font-family: Gilroy-Bold;
    font-size: 24px;
    line-height: 28px;
    text-align: left;
    margin-top: 25px;
    margin-bottom: 22px;
}

.text__item {
    margin-bottom: 39px;
    width: 310px;
    font-family: Gilroy-Regular;
    font-size: 15px;
    line-height: 23px;
    text-align: center;
}

.button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 6px;
    color: white;
    outline: none;
    border: none;
    border-radius: 50px;
    width: 150px;
    height: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px #F2582233;
}